[submodule "themes/relearn"]
	path = themes/relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
[submodule "themes/osm"]
	path = themes/osm
	url = https://github.com/davidbeckonline/hugo-component-osm
