{{ $data := "" }}
{{ $url := "https://pegel-konstanz-for-website.s3.eu-central-1.amazonaws.com/json/current.json" }}
{{ with resources.GetRemote $url }}
  {{ with .Err }}
    {{ errorf "%s" . }}
  {{ else }}
    {{ $data = . | transform.Unmarshal }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get remote resource %q" $url }}
{{ end }}

{{ with $data }}
 The current level of Lake Constance (Bodensee) is at {{ .current_level }} cm ( {{.change_vs_yesterday }} cm compared to the previous day). Data updated on Daten {{ .mostrecent_date }} at {{ .mostrecent_time }}.
{{ end }}
